*.class
*.log

# sbt specific
.cache/
.history/
.lib/
.sbt_completion_cache
data
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDE specific
.idea
.scala_dependencies
.worksheet
